[flake8]
exclude = migrations,settings.py,__init__.py,.git,env
max-line-length = 79
ignore = D100,D101,D102,D103,D105,D106,D401,E402,E501,W503
require-plugins =
    flake8-django
    flake8-docstrings
    flake8-quotes

inline-quotes = '
docstring-quotes = "
